<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC2/css/bootstrap-datepicker.min.css" />
    {% block style%}
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'unpaid-bill-list' %}">
            <i class="fa fa-credit-card"></i>
            <span>BillTrack</span>
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">

                {% if user.is_authenticated and user.is_active %}
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            Manage
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'bill-list' %}">All Bills</a>
                            <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
                        </div>

                    </li>

                    <a href="{% url 'bill-create' %}" class="btn btn-outline-primary my-2 my-sm-0">
                        <span class="fa fa-plus"> New Bill</span>
                    </a>
                {% else %}
                    <a href="{% url 'auth_login' %}" class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2">Sign In</a>
                    <a href="{% url 'registration_register' %}" class="btn btn-outline-success">Sign Up</a>
                {% endif %}
            </div>
        </div>

    </nav>

    <div class="container mt-4 content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC2/js/bootstrap-datepicker.min.js"></script>
    {% block script%}
    {% endblock %}
</body>
</html>
