{% extends "base.html" %}

{% block content %}
    <h1>{{ request.user.username }}'s Bills</h1>

    <table class="table">

        <thead>
            <tr>
                <th>Bill Name</th>
                <th class="text-right">Due Date</th>
                <th>Paid?</th>
            </tr>
        </thead>

        <tbody>
            {% for bill in bill_list %}
                <tr>
                    <td>
                        <a href="{% url 'bill-detail' bill.slug %}" class="text-muted">
                            {{ bill.name }}
                        </a>
                    </td>
                    <td class="text-right">
                        {% if bill.due_date < today %}
                            <span class="text-danger">
                                {{ bill.due_date }}
                            </span>
                            <span class="badge badge-danger">Overdue</span>
                        {% elif bill.due_date == today %}
                            <span class="text-primary">
                                {{ bill.due_date }}
                            </span>
                            <span class="badge badge-primary">Due Today</span>
                        {% else %}
                            <span class="text-muted">
                                {{ bill.due_date }}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if bill.is_paid %}
                            <i class="fa fa-check text-success"></i>
                        {% else %}
                            <i class="fa fa-times text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}
