{% extends "base.html" %}

{% block script %}
    <script>
$(function () {
    $('.pay-button').popover({
        animation: false,
        container: 'body',
        placement: 'left',
        content: 'Mark as Paid',
        template: `<div class="popover" role="tooltip"><button class="btn btn-success btn-sm popover-content"></div></div>`
    })
})
    </script>
{% endblock %}

{% block style %}
    <style>
.popover::after,
.popover::before {
    display: none;
}
</style>

{% endblock %}

{% block content %}
    <h1>{{ request.user.username }}'s Unpaid Bills</h1>

    <table class="table">

        <thead>
            <tr>
                <th>Bill Name</th>
                <th class="text-right">Due Date</th>
                <th class="text-right">Paid? (Tap to mark as paid)</th>
            </tr>
        </thead>

        <tbody>
            {% for bill in bill_list %}
                <tr>
                    <td>
                        <a href="{% url 'bill-detail' bill.slug %}" class="text-muted">
                            {{ bill.name }}
                        </a>
                    </td>
                    <td class="text-right">
                        {% if bill.due_date < today %}
                            <span class="text-danger">
                                {{ bill.due_date }}
                            </span>
                            <span class="badge badge-danger">Overdue</span>
                        {% elif bill.due_date == today %}
                            <span class="text-primary">
                                {{ bill.due_date }}
                            </span>
                            <span class="badge badge-primary">Due Today</span>
                        {% else %}
                            <span class="text-muted">
                                {{ bill.due_date }}
                            </span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <button class="pay-button btn btn-danger btn-inverted"> Unpaid</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}
